[submodule "enva"]
	path = enva
	url = https://github.com/rainoffallingstar/enva.git
[submodule "xenofilter-go"]
	path = xenofilter-go
	url = https://github.com/rainoffallingstar/xenofilter-go
[submodule "Paireads"]
	path = Paireads
	url = https://github.com/rainoffallingstar/Paireads
[submodule "htseq2matrix-go"]
	path = htseq2matrix-go
	url = https://github.com/rainoffallingstar/htseq2matrix-go
[submodule "methrix-cli"]
	path = methrix-cli-local
	url = https://github.com/rainoffallingstar/methrix-cli
[submodule "qctb"]
	path = qctb
	url = https://github.com/rainoffallingstar/qctb
[submodule "fastqc-rs"]
	path = fastqc-rs
	url = https://github.com/rainoffallingstar/fastqc-rs
[submodule "gomats"]
	path = gomats
	url = https://github.com/rainoffallingstar/gomats
