[submodule "enva"]
	path = enva
	url = https://github.com/rainoffallingstar/enva.git
[submodule "xenofilx"]
	path = xenofilx
	url = https://github.com/rainoffallingstar/xenofilx.git
[submodule "pairbam"]
	path = pairbam
	url = https://github.com/rainoffallingstar/pairbam.git
[submodule "seq2mat"]
	path = seq2mat
	url = https://github.com/rainoffallingstar/seq2mat.git
[submodule "methx"]
	path = methx
	url = https://github.com/rainoffallingstar/methx.git
[submodule "qctb"]
	path = qctb
	url = https://github.com/rainoffallingstar/qctb.git
[submodule "fastqcx"]
	path = fastqcx
	url = https://github.com/rainoffallingstar/fastqcx.git
[submodule "matsrun"]
	path = matsrun
	url = https://github.com/rainoffallingstar/matsrun.git
[submodule "bamdriver"]
	path = bamdriver
	url = https://github.com/rainoffallingstar/bamdriver.git
[submodule "craftmake"]
	path = craftmake
	url = https://github.com/rainoffallingstar/craftmake.git
